# Домашняя работа 2

Основные операторы PostgreSQL

### Создание таблиц

```sql
create database homework_2;

create table customer_20250217 (
	customer_id int4 primary key
	,first_name varchar(50)
	,last_name varchar(50)
	,gender varchar(30)
	,dob varchar(50)
	,job_title varchar(50)
	,job_industry_category varchar(50)
	,wealth_segment varchar(50)
	,decesed_indicator varchar(50)
	,owns_car varchar(30)
	,address varchar(50)
	,postcode varchar(30)
	,state varchar(30)
	,country varchar(30)
	,property_valuation int4
);

create table transaction_20250217 (
	transaction_id int4 primary key
	,product_id int4
	,customer_id int4
	,transaction_date varchar(30)
	,online_order varchar(30)
	,order_status varchar(30)
	,brand varchar(30)
	,product_line varchar(30)
	,product_class varchar(30)
	,product_size varchar(30)
	,list_price float4
	,standart_cost float4
);

```

![image_1](img/img_1.png)

![img_2](img/img_2.png)

### Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

```sql
    select distinct brand
    from transaction_20250217
    where standart_cost > 1500
```

![img_3](img/img_3.png)

### Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно

```sql
    select *
    from transaction_20250217
    where to_date(transaction_date, 'DD.MM.YYYY') between '2017-04-01' and '2017-04-09'
    and order_status = 'Approved'
    order by to_date(transaction_date, 'DD.MM.YYYY') desc;
```

![img_4](img/img4.png)

### Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

```sql
    select distinct job_title
    from customer_20250217
    where job_industry_category in ('IT', 'Financial Services') and job_title like 'Senior_%';

```

![img_5](img/img_5.png)

### Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services

```sql
    select distinct brand
    from transaction_20250217 t 
    join customer_20250217 c on c.customer_id = t.customer_id 
    where c.job_industry_category = 'Financial Services';
```

![img_6](img/img_6.png)

### Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'

```sql
    select 
    c.customer_id
    ,c.first_name
    ,c.last_name
    ,t.brand
    ,t.online_order    
    from customer_20250217 c 
    join transaction_20250217 t on t.customer_id = c.customer_id 
    where t.brand in ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles') 
    and t.online_order::bool is true 
    limit 10;
```

![img_7](img/img_7.png)

### Вывести всех клиентов, у которых нет транзакций

```sql
    select  
    c.customer_id
    ,c.first_name
    ,c.last_name
    ,t.transaction_id 
    from customer_20250217 c 
    left join transaction_20250217 t on t.customer_id = c.customer_id
    where t.transaction_id is null;
```

![img_8](img/img_8.png)

### Проверка

```sql
    select transaction_id, customer_id
    from transaction_20250217
    where customer_id in (852, 869, 1373, 2074, 2660, 3667, 3668)
```

![img_9](img/img_9.png)

### Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.

```sql
    with max_cost as (
	select *
	from transaction_20250217 t 
	where t.standart_cost = (select max(standart_cost) from transaction_20250217)
)
    select *
    from customer_20250217 c 
    join max_cost m on m.customer_id = c.customer_id 
    where c.job_industry_category = 'IT';
```

![img_10](img/img_10.png)

### Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.

```sql
    with transact as (
	select *
	from transaction_20250217 t 
	where to_date(t.transaction_date, 'DD.MM.YYYY') between '2017-07-07' and '2017-07-17'
)
	select 
	c.customer_id
	,c.first_name
	,c.last_name
	,c.job_industry_category
	,tr.transaction_date
	,tr.order_status  
	from customer_20250217 c 
	join transact tr on tr.customer_id = c.customer_id 
	where c.job_industry_category in ('IT', 'Health') and tr.order_status = 'Approved';

```

![img_11](img/img_11.png)