# Домашняя работа 2

Основные операторы PostgreSQL

### Создание таблиц

```sql
create database homework_2;

create table customer_20250217 (
	customer_id int4 primary key
	,first_name varchar(50)
	,last_name varchar(50)
	,gender varchar(30)
	,dob varchar(50)
	,job_title varchar(50)
	,job_industry_category varchar(50)
	,wealth_segment varchar(50)
	,decesed_indicator varchar(50)
	,owns_car varchar(30)
	,address varchar(50)
	,postcode varchar(30)
	,state varchar(30)
	,country varchar(30)
	,property_valuation int4
);

create table transaction_20250217 (
	transaction_id int4 primary key
	,product_id int4
	,customer_id int4
	,transaction_date varchar(30)
	,online_order varchar(30)
	,order_status varchar(30)
	,brand varchar(30)
	,product_line varchar(30)
	,product_class varchar(30)
	,product_size varchar(30)
	,list_price float4
	,standart_cost float4
);

```

![image_1](img/img_1.png)

![img_2](img/img_2.png)

### Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

```sql
    select distinct brand
    from transaction_20250217
    where standart_cost > 1500
```

![img_3](img/img_3.png)

### Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно

```sql
    select *
    from transaction_20250217
    where to_date(transaction_date, 'DD.MM.YYYY') between '2017-04-01' and '2017-04-09'
    and order_status = 'Approved'
    order by to_date(transaction_date, 'DD.MM.YYYY') desc;
```

![img_4](img/img4.png)

### Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

```sql
    select distinct job_title
    from customer_20250217
    where job_industry_category in ('IT', 'Financial Services') and job_title like 'Senior_%';

```

![img_5](img/img_5.png)