# Домашняя работа 1

### Задание 1. Создание структуры базы данных

In [ ]:
# импорт библиотек
import pandas as pd

![image](img/img_1.png)

### Задание 2. Исследование и нормализация данных

In [9]:
# чтение данных по транзакциям

transactions = pd.read_csv('customer_and_transaction/transaction-Tаблица 1.csv', sep=';')
transactions.head(2)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost
0,1,2,2950,2/25/17,False,Approved,Solex,Standard,medium,medium,"71,49","53,62"
1,2,3,3120,5/21/17,True,Approved,Trek Bicycles,Standard,medium,large,"2091,47","388,92"

In [11]:
# чтение данных по пользователям

customers = pd.read_csv('customer_and_transaction/customer-Tаблица 1.csv', sep=';')
customers.head(2)

,customer_id,first_name,last_name,gender,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,F,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,Eli,Bockman,Male,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,6 Meadow Vale Court,2153,New South Wales,Australia,10